<div>
  <div class="oj-applayout-fixed-top">
    <header role="banner" class="oj-hybrid-applayout-header-no-border demo-ios-semi-transparent-bg" data-bind="ojModule: headerSettings">
    </header>
    <div role="navigation" class="oj-hybrid-applayout-navbar-page demo-ios-semi-transparent-bg">
      <!-- <oj-tab-bar id='incidentsNavTabs' data-oj-context class='demo-nav-tabs'
          selection='{{router.stateId}}'
          edge='top'
          on-selection-changed='[[navBarChange]]'>
        <ul>
          <li id="tabQRCode">
            <a href="#">QRCode</a>
          </li>
          <li id="tabAlunos">
            <a href="#">Alunos</a>
          </li>
        </ul>
      </oj-tab-bar> -->
    </div>

  </div>


  <!-- Incidents View Content -->
  <div class="oj-hybrid-applayout-page" data-bind="ojModule: moduleConfig()"></div>
</div>
